/aclocal.m4
/autom4te.cache/
/aux-bits/
/build-debug
/build-release/
/compile
/config/
/config.guess
/config.h.in
/config.h.in~
/config.sub
/configure
/.cproject
/depcomp
/install
/install-sh
/m4/libtool.m4
/ltmain.sh
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/missing
/missing
/.project
/.settings/
Makefile.in
